---
const links = [
  { label: 'GitHub', href: 'https://github.com/polletantoine' },
  { label: 'LinkedIn', href: 'https://www.linkedin.com/in/antoine-pollet/' },
  { label: 'Email', href: 'mailto:antoine.pollet@silex.legal' },
];
---

<ul class="flex flex-wrap items-center gap-4">
  {
    links.map((link) => (
      <li>
        <a
          href={link.href}
          target={link.href.startsWith('http') ? '_blank' : undefined}
          rel={link.href.startsWith('http') ? 'noopener noreferrer' : undefined}
          class="hover:text-neutral-900 hover:underline underline-offset-4 dark:hover:text-neutral-100"
        >
          {link.label}
        </a>
      </li>
    ))
  }
</ul>
